*.pth.tar
__pycache__/

.vscode/
.DS_Store
scrap_code.txt

CodeTalker/mesh_library

CodeTalker/vocaset/FLAME_sample.ply
CodeTalker/vocaset/vocaset_stage1.pth.tar
CodeTalker/vocaset/vocaset_stage2.pth.tar
CodeTalker/vocaset/data_verts.npy
CodeTalker/vocaset/raw_audio_fixed.pkl
CodeTalker/vocaset/templates.pkl
CodeTalker/vocaset/subj_seq_to_idx.pkl

CodeTalker/vocaset/vertices_npy/
CodeTalker/vocaset/wav/

CodeTalker/demo/npy/
CodeTalker/demo/output/
