tensorboardX
einops
numpy==1.21.0
scipy==1.7.1
librosa==0.8.1
tqdm
pyyaml

torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2

transformers==4.6.1
trimesh==3.9.27
pyrender==0.1.45
pyopengl==3.1.0
pyglet==1.5.27
opencv-python
